html,
a {
    cursor: url('img/hand1.cur'), auto;
    background-color: rgb(210, 255, 232);
}

::selection {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}

.gauche {
    height: 90vh !important;
    max-width: 50%;
    width: 50%;
    float: left;
}

.droite {
    float: right;
    overflow: hidden;
    width: 30%;
}


/* The navigation bar */

#navbarwork {
    font-size: 2em;
}

.navbar {
    z-index: 9999;
    width: 100vw;
    color: rgb(210, 255, 232);
    background-color: white;
    padding: 10px;
    font-family: 'Titrage2';
    font-size: .6em;
    position: fixed;
    display: flex;
    justify-content: space-between;
    /* Set the navbar to fixed position */
    top: 0;
    right: 0;
    /* Position the navbar at the top of the page */
    /* Full width */
}


/* Links inside the navbar */

.navbar a {
    font-size: .4em;
    float: right;
    display: block;
    color: #000000;
    text-align: right;
    justify-content: right;
    text-decoration: none;
    background-color: transparent;
}

a {
    text-decoration: underline;
    color: black;
    background-color: transparent;
}


/* Change background on mouse-over */

.navbar a:hover {
    transform: skew(40deg);
    color: rgb(0, 0, 255);
}

a:hover {
    transform: skew(40deg) !important;
    color: rgb(0, 0, 255);
}

blockquote {
    font-family: 'Courant';
    transform: skew(6deg);
    font-size: .9em;
    margin-left: 2em;
    max-width: 80vh;
    line-height: .85em;
    text-decoration: underline;
}

h1 {
    margin-left: .4em;
    font-size: 5em;
    font-family: 'MarsThin';
    max-width: 100%;
}

h2 {
    margin-left: 3em;
    font-size: 2em;
    font-family: 'Titrage2';
    max-width: 100%;
}

h3 {
    transform: skew(-30deg);
    margin-left: 4em;
    font-size: 3em;
    font-family: 'Courant';
    text-decoration: underline;
}

#courant {
    font-family: 'Courant';
    text-indent: 2em;
    font-size: 2em;
    margin-left: 2em;
    max-width: 85vh;
    line-height: .85em;
}

.index {
    float: right;
}

.image-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.image-grid figure {
    aspect-ratio: 1/1;
    margin: 0;
    position: relative;
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    font-family: 'Courant';
    font-size: 1.4em;
    padding: 10px;
    opacity: 0;
}

#vide {
    height: 400px;
}

figure:hover figcaption {
    opacity: 1;
}

#captionlink {
    color: white;
    text-decoration: underline;
}

#captionlink:hover {
    color: blue;
}

.image-grid-col-2 {
    grid-column: span P;
}

.image-grid-row-2 {
    grid-row: span 2;
}


/* Anything udner 1024px */

@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}

#titre-home {
    font-family: 'Courant';
    font-size: 5em;
    margin-left: 2em;
    max-width: 4em;
    line-height: .7em;
}

#soustitre-home {
    display: grid;
    grid-template-columns: 3fr 1textegauchefr;
    font-family: 'Courant';
    font-size: .3em;
    margin-top: 50px;
    max-width: 50em;
    line-height: .8em;
}

#question {
    font-family: 'Titrage2';
    font-size: 1.5em;
    margin-left: 2em;
    max-width: 80vh;
    line-height: auto;
}

#reponse {
    font-family: 'Courant';
    text-indent: 2em;
    font-size: 2em;
    margin-left: 2em;
    max-width: 80vh;
    line-height: .9em;
}

@font-face {
    font-family: 'Titrage';
    src: url('fonts/Fuzzy-Logic.woff') format('woff');
    src: url('fonts/Fuzzy-Logic.woff2')format('woff2');
}

@font-face {
    font-family: 'Titrage2';
    src: url('fonts/Mondwest-Regular.woff') format('woff');
    src: url('fonts/Mondwest-Regular.woff2')format('woff2');
}

@font-face {
    font-family: 'Courant';
    src: url('fonts/NeueBit-Bold.woff') format('woff');
    src: url('fonts/NeueBit-Bold.woff2')format('woff2');
}

@font-face {
    font-family: 'MarsThin';
    src: url('fonts/meteor/METEOR-Regular.woff') format('woff');
    src: url('fonts/meteor/METEOR-Regular.woff2')format('woff2');
}